anyio==4.12.1
fastapi==0.135.1
httpx==0.28.1
ortools==9.10.4067
pandas==2.2.2
pydantic==2.12.5
pydantic-settings==2.13.1
python-dotenv==1.2.2
python-multipart==0.0.22
starlette==0.52.1
uvicorn==0.42.0
